@model IEnumerable<PL.Models.ProductViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>Order</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
     {
        @foreach (var item in Model)
         {
            <tr>
                <td>
                   <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
               </td>
                
                    @if (item.Image.Length == 0)
                    {
                    <td class="text-left">Image is coming soon</td>
                    }
                    else
                    {
                        <td><img style='width:240px; height:180px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" /></td>
                    }
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <div new { placeholder="E-mail" }>
                        <button title="Update template" onclick="BlankTemplate('@item.Id');"}>Add to Cart</button>
                    </div>
                </td>
            </tr>
         }
     }
</table>

<script>
    var BlankTemplate = function (id) {
        $.ajax({
            url: "/Cart/AddToCart?id=" + id,
            data: {
            }, 
            type: "POST",
            success: function () {
                console.log("product added successfully");
            },
            error: function () {
                
            }
        });
    }
</script>


