@model PL.Models.ProductViewModel

@{
    ViewBag.Title = "Admin panel: Edit product";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin Panel</h1>

<div class="panel">

    <div class="panel-heading">
        <h3>Edit product «@Model.Name»</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin",
   FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
<div class="panel-body">
    @Html.HiddenFor(m => m.Id)
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        switch (property.PropertyName)
        {
            case "Id":
            case "Image":
            case "ImageIn":

                // Ничего не делать
                break;
            default:
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName)</label>
                    @if (property.PropertyName == "Description")
                    {
                        @Html.TextArea(property.PropertyName, null,
                         new { @class = "form-control", rows = 5 })
                    }
                    else
                    {
                        @Html.TextBox(property.PropertyName, null,
                         new { @class = "form-control" })
                    }
                    @Html.ValidationMessage(property.PropertyName)
                </div>
                break;
        }
    }

<div>
    @if (Model.Image.Length == 0)
    {
        <div class="form-control-static"><strong>No image</strong></div>
    }
    else
    {
        <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
        @*<img style='width:80px; height:60px;' src="data:image/jpeg;base64, Model.ImageIn)" />*@

    }

    <form asp-action="Edit" asp-controller="Admin" method="post" enctype="multipart/form-data">
        <p>
            <label>Add New Image</label>
            <input name="ImageIn" type="file" class="form-control" />
        </p>
    </form>
</div>








    <div class="panel-footer">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel changes and back to list", "Index", null, new
        {
            @class = "btn btn-default"
        })
    </div>
</div>
    }
</div>